{% extends 'base.html' %}
{% load static %}

{% block title %}
    Credentials
{% endblock %}

{% block content %}
    {% if message %}
        <div class="text-danger" style="font-size: large">{{ message }}</div>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="container w-85">
            <h2>Generate Credential</h2>
            <a class="float-end text-primary " style="font-size: 85%;" href="https://sites.google.com/ncsu.edu/aerpaw-user-manual/4-experiment-portal-workflow/4-7-detailed-walkthroughs/4-7-2-account-authorization-and-roles#h.moq6p4yupg08" target="_blank">
                <em>Need help? Visit section 4.7.2 in the User Manual.</em>
            </a>
            <form id="create-credential" method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
            </form>
            <button class="btn btn-success mr-2" type="submit" form="create-credential" value="save">Save</button>
            <button class="btn btn-primary mr-2" value="cancel">
                <a href="{% url 'profile' %}" class="unlink">Back</a>
            </button>
        </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">
            <button class="message-btn btn btn-success">Login</button>
        </a>
    {% endif %}
{% endblock %}