<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <!-- Load static files-->
    {% load static %}
    {# Load the tag library #}
    {% load django_bootstrap5 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    <!-- {% bootstrap_messages %} -->
    {# FontAwesome: https://fontawesome.com/docs/web/use-with/python-django #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="{% static 'rest_framework/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'rest_framework/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom_checkboxes.js' %}?{% now 'U' %}"></script>
    <script src="{% static 'js/bootstrap_tooltips.js' %}?{% now 'U' %}"></script>
    
    <!-- other stylesheets / sources -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <title>
        {% block title %}
            AERPAW Testbed
        {% endblock %}
    </title>
    {% block head %}
    {% endblock %}
</head>
<body>
{% include 'navbar.html' %}
<main class="ps-5 pe-5 pt-3 ms-auto me-auto">
    <!-- <div id="aerpaw-messages"></div> -->
    {% if messages %}
        {% for message in messages %}
        {% if message.level != 25 %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
           {{message}}
            {% if message.level == 50 %}
                <a type="button" class="btn-close" href="{% url 'home' %}"></a>
            {% else %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% endif %}
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
         {% endif %}
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
</main>
{% include 'footer.html' %}
</body>
</html>