{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand navbar" href="{% url 'home' %}">
        <img src="{% static 'images/logo/aerpaw-brand.png' %}" alt="aerpaw logo" height="40"/>
    </a>
    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {% if user.is_authenticated %}
            <ul class="navbar-nav me-auto order-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                {% if user.is_experimenter or user.is_pi or user.is_operator or user.is_site_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resource_list' %}">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'project_list' %}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'experiment_list' %}">Experiments</a>
                    </li>
                {% endif %}
                {% if user.is_operator %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Operators
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'experiment_file_list' %}">
                                    Experiment Files
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'error_dashboard' %}">
                                    Error Dashboard
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'experiment_form_responses' %}">
                                    Experiment Form Responses
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'field_trip_dashboard' %}">
                                    Field Trips
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'reports_home' %}">
                                    Reports
                                </a>
                            </li>
                            {#                            <li>#}
                            {#                                <hr class="dropdown-divider">#}
                            {#                            </li>#}
                            {#                            <li>#}
                            {#                                <a class="dropdown-item" href="{% url 'home' %}">#}
                            {#                                    Experiment Sessions#}
                            {#                                </a>#}
                            {#                            </li>#}
                        </ul>
                    </li>
                {% endif %}
                {% if user.is_site_admin %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Administrators
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'user_role_request_list' %}">
                                Role Requests
                            </a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if user.is_operator or user.is_site_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="/api">API</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-auto-close="outside" data-bs-toggle="dropdown">
                        Help
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
                                User Manual
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="https://sites.google.com/ncsu.edu/aerpaw-user-manual/1-aerpaw-overview" traget="_blank">Overview</a></li>
                                <li><a class="dropdown-item" href="" traget="_blank">Login/out</a></li>
                                <li><a class="dropdown-item" href="" traget="_blank">Profile</a></li>
                                <li><a class="dropdown-item" href="" traget="_blank">Roles</a></li>
                                <li><a class="dropdown-item" href="" traget="_blank">Messages</a></li>
                                <li><a class="dropdown-item" href="" traget="_blank">Credentials</a></li>
                                <li><a class="dropdown-item" href="" traget="_blank">Projects</a></li>
                                <li class="dropend">
                                    <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Experiments</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="https://sites.google.com/ncsu.edu/aerpaw-user-manual/1-aerpaw-overview" traget="_blank">Creation</a></li>
                                        <li><a class="dropdown-item" href="https://sites.google.com/ncsu.edu/aerpaw-user-manual/1-aerpaw-overview" traget="_blank">Canonical vs. Non-Canonical</a></li>
                                        <li><a class="dropdown-item" href="" traget="_blank">Selecting Resources</a></li>
                                        <li><a class="dropdown-item" href="" traget="_blank">Adding Members</a></li>
                                        <li><a class="dropdown-item" href="" traget="_blank">Initiating Development</a></li>
                                        <li><a class="dropdown-item" href="" traget="_blank">Accessing Development</a></li>
                                        <li><a class="dropdown-item" href="" traget="_blank">Going to the Testbed</a></li>
                                        <li><a class="dropdown-item" href="" traget="_blank">In the Testbed</a></li>
                                        <li><a class="dropdown-item" href="" traget="_blank">Retirement</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="" traget="_blank">Resources</a></li>
                                <li><a class="dropdown-item" href="" traget="_blank">AERPAW Errors</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" target="_blank" href="https://groups.google.com/a/ncsu.edu/g/group-aerpaw-users">AERPAW Forum</a></li>
                        <li><a class="dropdown-item" target="_blank" href="#">FAQs</a></li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-nav nav-item ms-auto order-5">
                <form id="logout_form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                <button class="nav-link" form="logout_form" type="submit">
                    <em class="fa fa-fw fa-sign-out"></em> Logout</button>
                </form>
            </div>
        {% else %}
            <ul class="navbar-nav me-auto order-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-auto-close="outside" data-bs-toggle="dropdown">
                        Help
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle " href="#" role="button" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
                                User Manual
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="https://sites.google.com/ncsu.edu/aerpaw-user-manual/1-aerpaw-overview" traget="_blank">Overview</a></li>
                                <li><a class="dropdown-item" href="" traget="_blank">Login/out</a></li>
                                <li><a class="dropdown-item" href="" traget="_blank">Profile</a></li>
                                <li><a class="dropdown-item" href="" traget="_blank">Roles</a></li>
                                <li><a class="dropdown-item" href="" traget="_blank">Messages</a></li>
                                <li><a class="dropdown-item" href="" traget="_blank">Credentials</a></li>
                                <li><a class="dropdown-item" href="" traget="_blank">Projects</a></li>
                                <li class="dropend">
                                    <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Experiments</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="https://sites.google.com/ncsu.edu/aerpaw-user-manual/1-aerpaw-overview" traget="_blank">Creation</a></li>
                                        <li><a class="dropdown-item" href="https://sites.google.com/ncsu.edu/aerpaw-user-manual/1-aerpaw-overview" traget="_blank">Canonical vs. Non-Canonical</a></li>
                                        <li><a class="dropdown-item" href="" traget="_blank">Selecting Resources</a></li>
                                        <li><a class="dropdown-item" href="" traget="_blank">Adding Members</a></li>
                                        <li><a class="dropdown-item" href="" traget="_blank">Initiating Development</a></li>
                                        <li><a class="dropdown-item" href="" traget="_blank">Accessing Development</a></li>
                                        <li><a class="dropdown-item" href="" traget="_blank">Going to the Testbed</a></li>
                                        <li><a class="dropdown-item" href="" traget="_blank">In the Testbed</a></li>
                                        <li><a class="dropdown-item" href="" traget="_blank">Retirement</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="" traget="_blank">Resources</a></li>
                                <li><a class="dropdown-item" href="" traget="_blank">AERPAW Errors</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item {{ login_page }}">
                    <a class="nav-link" href="{% url 'rest_framework:login' %}">
                        <em class="fa fa-fw fa-sign-in"></em> Login</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
