{% extends "rest_framework/login_base.html" %}
{% block body %}
    <head>
        <meta charset="utf-8"/>
        <!-- Load static files-->
        {% load static %}
        {# Load the tag library #}
        {% load django_bootstrap5 %}
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
        {# FontAwesome: https://fontawesome.com/docs/web/use-with/python-django #}
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

        <!-- other stylesheets / sources -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
        <title>
            {% block title %}
                AERPAW Testbed
            {% endblock %}
        </title>
        {% block head %}
        {% endblock %}
    </head>
    {% include 'navbar.html' %}
    <main class="container">
        {% if user.is_authenticated %}
            <p>Current user: {{ user.email }}</p>
            <form action="{% url 'oidc_logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="logout">
            </form>
        {% else %}
            {% if session_expired %}
                <h2 class="text-danger">
                    Current session has expired - Please Login again
                </h2>
            {% endif %}
            <div>
                <b>AERPAW Portal uses <a href="https://www.cilogon.org" target="_blank">CILogon</a> to authenticate user
                    identity:</b>
            </div>
            <br>
            <button class="message-btn btn btn-success">
                <a href="{% url 'oidc_authentication_init' %}" class="unlink" style="font-size: x-large">
                    <em class="fa fa-fw fa-sign-in"></em> AERPAW Login
                </a>
            </button>
            <br><br>
            <strong>NOTE:</strong> If this is your first time signing in an account will automatically be created for
            you based on the Identity Provider you choose to authenticate with.
        {% endif %}
    </main>
    {% include 'footer.html' %}
{% endblock %}